# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Flask & Environment
.env
instance/
.webassets-cache

# Database (optional local state)
*.sqlite3-journal

# Uploads
app/static/uploads/screenshots/*
!app/static/uploads/screenshots/.gitkeep

# IDE & Editor files
.idea/
*.swp
*.swo

# Operating System
Thumbs.db
Desktop.ini
.DS_Store
